// - - - - - B U T T O N S - - - - -

.btn{
    border: 1px solid var(--OLDWHITE);
    background-color: var(--EMPTY);
    color: var(--OLDWHITE);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 7px;
    width: 10rem;
    margin: 2rem;
}

