// - - - - - B U T T O N S - - - - -

.btn{
    border: 1px solid var(--OLDWHITE);
    background-color: var(--EMPTY);
    color: var(--OLDWHITE);
    border-radius: 7px;
    width: 10rem;
    height: 2.5rem;
}

.search-btn{
    margin-left: 1rem;
    display: flex;
    position: relative;
    border: 1px solid var(--OLDWHITE);
    background-color: var(--EMPTY);
    color: var(--OLDWHITE);
    border-radius: 7px;
    width: 2.5rem;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
}

.logout-btn{
    margin-left: 1rem;
    display: flex;
    position: relative;
    border: 1px solid var(--OLDWHITE);
    background-color: var(--EMPTY);
    color: var(--OLDWHITE);
    border-radius: 7px;
    width: 2.5rem;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    img{
        rotate: (45deg);
        height: 45px
    }
}


.patch-container{
    display: flex;
}

.patch-btn{
    width:35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 0.5rem
}

.patch-img{
    height: 2.5rem;
}


.search-img{
    height: 3.5rem;
}


.close-section{
    display: flex;
    position: absolute;
    bottom: 20px;
    justify-content: center;
    align-items: center;
    div{
        display: flex;
        border: 1.5px solid white;
        border-radius: 50px;
        width: 50px;
        height: 30px;
        align-items: center;
        justify-content: center;
        >*{
            height: 40px;
            transform: rotate(45deg)
        }
    }
}



.send-btn{
    display: flex;
    position: absolute;
    bottom: -36px ;
    width: 100px;
    height: 50px;
    border-radius: 25px;
    color: var(--OLDWHITE);
    background-color: var(--BEIGE);
}