// - - - - - E L E M E N T S - - - - - 

.logoM-container{
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        max-width: 280px;
        margin-top: 30px;
        margin-bottom: 30px
    }
}

.logoL-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    img{
        max-width: 55vw;
        min-width: 400px;
        margin-top: 5vw;
    };
}

.middle-container{
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: space-around;
}


.card{
    margin-bottom: 0.5rem;
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 1rem;
    border-radius: 8px;
    background-color: var(--OLDWHITE);
    width: 100%;
}

.member-card{
    position: relative;
    margin-bottom: 0.5rem;
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 8px;
    background-color: var(--OLDWHITE);
    width: 100%;
}



.store-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 1rem;
    border-radius: 8px;
    background-color: var(--OLDWHITE);
}

.overflow-container{
    width: 90%;
    height: 80%;
    overflow: scroll;
}


.icon-container{
    width: 60px;
    height: 60px;
    border-radius: 7px;
}


.icon-sq40{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 7px;
    >*{
        position: absolute;
        width: 25px;
        height: 25px;
    }
}


.icon-top{
    display: flex;
    position: absolute;
    margin: -1.4rem;
}

.member-top{
    display: flex;
    position: absolute;
    margin: -2.5rem;
    margin-bottom: -1rem;
}


.icon{
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin: auto;
    img{
        width: 120px;
    }
}


.avatar-icon{
    width: 100px;
}
.sm-icon{
    width: 80px;
    margin-top: 0.25rem;
}

.sm-github{
    width: 95px;
    margin-top: 0.8rem;
}


input{
    border: none;
}


.card-container{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin-top: 2rem;
}

.circle-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem
}

.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0.3rem
}


.navbarL{
    display: flex;
    justify-content: center;
    >*>*{
        margin: 1rem
    }
}


.row-col{
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 700px) {
        flex-direction: column;
    }
}