// - - - - - E L E M E N T S - - - - - 

.logoM-container{
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 60vw;
        margin-top: 1vw;
    }
}


.card{
    margin: 0.5rem;
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5px;
    background-color: var(--OLDWHITE);
}


.member-card{
    margin: 0.5rem;
    padding-top:0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5px;
    background-color: var(--OLDWHITE);
}

.icon-container{
    width: 60px;
    height: 60px;
    border-radius: 7px;
}

.icon-top{
    display: flex;
    position: absolute;
    margin: -1.4rem;
}

.icon{
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin: auto;
    img{
        width: 120px;
    }
}

.avatar-icon{
    width: 100px;
}
.sm-icon{
    width: 80px;
}


input{
    border: none;
}


.navbar{
    
}


.card-container{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin-top: 2rem;
}


.circle-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem
}


.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0.3rem
}




