// - - - - - E L E M E N T S - - - - - 


.card{
    margin: 0.5rem;
    padding-top:0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 5px;
}