// - - - - - I M A G E S - - - - -


.iconL{
    color: var(--OLDWHITE);
    width: 150px;
    height: 150px;
    border-radius: 7px;
    border: 1px solid var(--OLDWHITE);
    justify-content: center;
    img{
        width: 150px;
    }
    p{
        text-align: center;
    }
}


.iconS{
    display: flex;
    position: relative;
    margin-right: 1rem;
    color: var(--OLDWHITE);
    width: 50px;
    height: 50px;
    border-radius: 7px;
    border: 1px solid var(--OLDWHITE);
    justify-content: center;
    align-items: center;
    img{
        position: absolute;
        width: 80px;
    }
}


.efjm-logo{
    display: flex;
    position: absolute;
    bottom: 0%;
    width: 100vw;
    justify-content: center;
    img{
        height: 30px;
        margin-bottom: 1rem;
    }
}