// - - - - - I M A G E S - - - - -

.efjm-logo{
    display: flex;
    position: absolute;
    bottom: 0%;
    width: 100vw;
    justify-content: center;
    img{
        height: 30px;
        margin-bottom: 1rem;
    }
}