// - - - - - I M A G E S - - - - -



.bg{
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -1;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("../images/coffypaste_bg_568217968.png");
}

// .bg-img{
//     display: flex;
//     position:absolute;
//     width: 100vw;
//     height: 100vh;
//     z-index: -1;
//     background-repeat: no-repeat;
//     object-fit: cover;
// }

.iconL{
    color: var(--OLDWHITE);
    width: 150px;
    height: 150px;
    border-radius: 7px;
    border: 1px solid var(--OLDWHITE);
    justify-content: center;
    margin: auto;
    img{
        width: 150px;
    }
    p{
        text-align: center;
    }
}


.iconS{
    display: flex;
    position: relative;
    margin-left: 1rem;
    color: var(--OLDWHITE);
    width: 60px;
    height: 60px;
    border-radius: 7px;
    border: 1px solid var(--OLDWHITE);
    justify-content: center;
    align-items: center;
    img{
        position: absolute;
        width: 80px;
    }
}


.efjm-logo{
    display: flex;
    position: absolute;
    bottom: 0%;
    width: 100vw;
    justify-content: center;
    img{
        height: 30px;
        margin-bottom: 1rem;
    }
}