// - - - - - M A I N - - - - -

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.relative{
    position: relative;
}

.flex{
    display: flex;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: row;
}

.col{
    display: flex;
    flex-direction: column;
}

.wrap{
    display:flex;
    flex-wrap: wrap;
}

.space{
    *{
        margin-right: 1rem;
    }
}


.turn{

}

.x{
    border: 2px solid orangered
}
.y{
    border: 2px solid greenyellow
}
.z{
    border: 2px solid aqua
}

.App{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;

    overflow-y: hidden;
    overflow-x: hidden;
    background-image: url("../images/coffypaste_bg_568217968.png");
    height: 100vh;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    >*{
        width: 80%;
        align-items: center;
    }
}



.between{
    justify-content: space-between;
}

.w50{
    width: 50%
}