// - - - - - M A I N - - - - -

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.relative{
    position: relative;
}

.flex{
    display: flex;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.row-center{
    >*{align-items: center;
    }
}


.row{
    display: flex;
    flex-direction: row;
}

.col{
    display: flex;
    flex-direction: column;
}








.wrap{
    display:flex;
    flex-wrap: wrap;
}

.space{
    *{
        margin-right: 0.5rem;
    }
}

.mb1{
    margin-bottom: 1rem;
}

.mb3{
    margin-bottom: 3rem;
}



.mt{
    margin-top: 5rem;
}

.mt1{
    margin-top: 1rem;
}

.mt2{
    margin-top: 2rem;
}

.mt3{
    margin-top: 3rem;
}



.ml1{
    margin-left: 1rem;
}


.turn{
    transform: rotate(5deg);
}

.x{
    border: 2px solid orangered
}
.y{
    border: 2px solid greenyellow
}
.z{
    border: 2px solid aqua
}


.App{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;

    overflow-y: hidden;
    overflow-x: hidden;
    background-image: url("../images/coffypaste_bg_568217968.png");
    height: 100vh;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;

    >*{
        width: 80%;
        align-items: center;
    };

    @media screen and (min-width: 1800px) {
        background-position: 0px -1400px;
    }
}



.between{
    justify-content: space-between;
}

.w50{
    width: 50%
}

.cantSee{
    overflow: hidden;
}