*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.bg{
    // border: 2px solid green;
    display: flex;
    position: relative;
}

.bg-img{
    // border: 2px solid green;
    display: flex;
    position:absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-repeat: no-repeat;
    object-fit: cover;
}


.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.icon{
    display: flex;
    flex-direction: row;
    width: 150px;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin: auto;
    >img{
        width: 120px;
    }
}


// - - - - - ELEMENTS - - - - -

.logoM-container{
    border: 3px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    >img{
        width: 60vw;
        margin-top: 1vw;
    }
}




.card{
    margin: 0.5rem;
    padding-top:0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 5px;
}




.bo-ow{
    border: 1px solid var(--OLDWHITE);
}




// - - - - - F O N T S - - - - - 



.fo-sig{
    font-family: 'Bilbo Swash Caps', cursive;
    color: var(--OLDWHITE)
}

.fo-nor{
    font-family: 'Questrial', sans-serif;
}