.navbarL{
    margin-top: 10%;
}



.navbar-btn{
    display: flex;
    border: 1px solid var(--OLDWHITE);
    background-color: var(--EMPTY);
    color: var(--OLDWHITE);
    border-radius: 7px;
    width: 25%;
    height: 2.5rem;
    >*{ display: flex;
        align-items: center;
        margin: auto;
    }
    @media screen and (max-width: 800px){
        width: 100%;
    }
}


.navbarS{
    width: 100%;
    display: none;
    justify-content: space-between;
    @media screen and (min-width : 800px) {
        display: flex;
    }
}



.navigationCollapse{
    width: 100%;
    @media screen and (min-width: 800px) {
        display: none;
    }
}